version: "3.8"

networks:
  codex-network:
    external: true

volumes:
  opensearch-data:

services:
  opensearch:
    image: opensearchproject/opensearch:2.18.0
    container_name: gnosis-opensearch
    environment:
      discovery.type: single-node
      plugins.security.disabled: "true"
      bootstrap.memory_lock: "true"
      OPENSEARCH_JAVA_OPTS: "-Xms1g -Xmx1g"
      OPENSEARCH_INITIAL_ADMIN_PASSWORD: "ChangeMe123!"
    ulimits:
      memlock:
        soft: -1
        hard: -1
      nofile:
        soft: 65536
        hard: 65536
    ports:
      - "9200:9200"
      - "9600:9600"
    networks:
      - codex-network
    volumes:
      - opensearch-data:/usr/share/opensearch/data
